.profileDescription {
  padding: 10px;
}
.profileLogo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.contacts {
  padding-left: 10px;
  text-decoration: none;
  color: aqua;
  font-size: 22px;
}
